# Copy this file to config.yaml, customize, and run prov.py script
#
hosts:
  # Hosts are defined by hostname.
  #
  # Required keys:
  # - bootstrap_order: The host ordered 0 will be the master, and
  #   handled differently
  # - region: DigitalOcean region with block storage feature
  #   (currently nyc1, sfo2, fra1)
  # - size:  Min. size 1gb
  # - image:  One of `coreos-stable`, `coreos-beta`, `coreos-alpha`
  # - volume_size:  In GB
  # - swap_size: In GB; data partition will be (volume_size -
  #   swap_size) GB
  # - host_id:  Added to fleet metadata for use in units
  # - network:  Define a Docker network with provided subnet and gateway
  # - ipa_ip, ipaclient_ip, syslog_ip, haproxy_ip: Static IPs for
  #   these containers
  # - docker_ports: Define iptables rules; top-level key is
  #   destination IP, second-level key is a name (for humans),
  #   third-level key is destination port with value `tcp`, `udp` or
  #   `both`
  #
  # Optional keys:
  # - services: (optional) The `http` key defines HAProxy
  #   configuration
  # - pbx_ip and pbx_db_pass:  Fusion PBX base configuration
  #
  # This system has been tested with three hosts.
  ipa0.example.com:
    bootstrap_order: 0
    region: nyc1
    size: 1gb
    image: coreos-stable
    volume_size: 10
    swap_size: 2
    host_id: 0
    network:
      name: cnet
      subnet: 172.16.0.0/24
      gateway: 172.16.0.1
    ipa_ip: 172.16.0.2
    ipaclient_ip: 172.16.0.3
    syslog_ip: 172.16.0.4
    haproxy_ip: 172.16.0.5
    services:
      http:
        mywebservice:
          acl: "path_beg /myweb"
          servers:
            myweb:
              ip: 172.16.0.10
    docker_ports:
      172.16.0.2:
        HTTP/HTTPS:
          # This will be pointed at HAProxy after provisioning
          80: tcp
          443: tcp
        FreeIPA DNS:
          53: both
        FreeIPA LDAP/LDAPS:
          389: tcp
          636: tcp
        FreeIPA Kerberos:
          88: both
          464: both
  ipa1.example.com:
    bootstrap_order: 1
    region: nyc1
    size: 1gb
    image: coreos-stable
    volume_size: 10
    swap_size: 2
    host_id: 1
    network:
      name: cnet
      subnet: 172.16.1.0/24
      gateway: 172.16.1.1
    ipa_ip: 172.16.1.2
    ipaclient_ip: 172.16.1.3
    syslog_ip: 172.16.1.4
    haproxy_ip: 172.16.1.5
    pbx_ip: 172.16.1.6
    pbx_db_pass: "23xhlvb7uwgw8w84"
    docker_ports:
      172.16.1.2:
        HTTP/HTTPS:
          # This will be pointed at HAProxy after provisioning
          80: tcp
          443: tcp
        FreeIPA DNS:
          53: both
        FreeIPA LDAP/LDAPS:
          389: tcp
          636: tcp
        FreeIPA Kerberos:
          88: both
          464: both
      172.16.1.6:
        SIP/VOIP:
          5060: both
          5080: both
          # 1001 channels
          "7000:8000": udp
  ipa2.example.com:
    bootstrap_order: 2
    region: nyc1
    size: 1gb
    image: coreos-stable
    volume_size: 10
    swap_size: 2
    host_id: 2
    network:
      name: cnet
      subnet: 172.16.2.0/24
      gateway: 172.16.2.1
    ipa_ip: 172.16.2.2
    ipaclient_ip: 172.16.2.3
    syslog_ip: 172.16.2.4
    haproxy_ip: 172.16.2.5
    docker_ports:
      172.16.2.2:
        HTTP/HTTPS:
          # This will be pointed at HAProxy after provisioning
          80: tcp
          443: tcp
        FreeIPA DNS:
          53: both
        FreeIPA LDAP/LDAPS:
          389: tcp
          636: tcp
        FreeIPA Kerberos:
          88: both
          464: both
# Names of DigitalOcean SSH keys to install
keys:
  - jdoe@example.com RSA
# Domain name; used throughout configuration
domain_name: example.com
# FreeIPA passwords
admin_password: test_admin_pass
ds_password: test_ds_pass
# Kerberos realm name for FreeIPA
realm: EXAMPLE.COM
# DigitalOcean API token
token: 26402235852e4340bd6bdc3fc40edb2fbc63c76e37b6bb7bbc91bf4ca179d81b
