#                                                              -*-yaml-*-
---
all:
  vars:
    # Top-level domain name of cluster
    domain_name: example.com
    # Kerberos realm
    kerberos_realm: EXAMPLE.COM
    # etcd2 "initial cluster token" must be unique
    etcd2_cluster_token: c1
    # Name of master host
    master_host: host1
    # Docker detach keys:  uncomment to redefine
    #docker_detach_keys: "ctrl-^"

# Define CoreOS cluster hosts
coreos_master:
  hosts:
    # Exactly one host must be in the `coreos_master` group
    host1:
      network_prefix: 10.1

coreos:
  # Other CoreOS cluster nodes here
  hosts:
    host2:
      network_prefix: 10.2
    host3:
      network_prefix: 10.3
      # Override defaults
      size_id: 2gb
      region_id: fra1

# DigitalOcean hosts must be defined here
digitalocean:
  hosts:
    host1:
    host2:
    host3:
# If all CoreOS hosts are on DigitalOcean, alternatively
# digitalocean:
#   children:
#     coreos:

freeipa:
  # List FreeIPA nodes
  hosts:
    host1:
    host2:
    host3:
