#                                                              -*-yaml-*-
---
all:
  vars:
    # Top-level domain name of cluster
    domain_name: example.com
    # Kerberos realm; usually domain_name in upper-case
    kerberos_realm: EXAMPLE.COM
    # etcd "initial cluster token" must be unique
    etcd_cluster_token: c1
    # Name of master host
    master_host: host1
    # Docker detach keys:  uncomment to redefine
    #docker_detach_keys: "ctrl-^"

# Define CoreOS cluster hosts
coreos_master:
  hosts:
    # Exactly one host must be in the `coreos_master` group
    host1:
      network_prefix: 10.1

coreos:
  # Other CoreOS cluster nodes here
  hosts:
    host2:
      network_prefix: 10.2
    host3:
      network_prefix: 10.3
      # Override defaults
      size_id: 2gb
      region_id: fra1

# DigitalOcean hosts must be defined here
digitalocean:
  # Assume all CoreOS hosts are on DigitalOcean
  children:
    coreos:
  # Otherwise, list individually
  # hosts:
  #   host1:
  #   host2:
  #   host3:

# FreeIPA server and replicas must be listed here
freeipa:
  # Assume all CoreOS hosts are FreeIPA servers
  children:
    coreos:
  # If not all hosts are FreeIPA servers, list individually
  # hosts:
  #   host1:
  #   host2:
  #   host3:
