# https://docs.projectcalico.org/v2.5/reference/calicoctl/setup/etcdv2
apiVersion: v1
kind: calicoApiConfig
metadata:
spec:
  datastoreType: "etcdv2"
  etcdEndpoints: "{{etcd_endpoints}}"
  etcdCertFile: "{{etcd_ssl_cert}}"
  etcdKeyFile: "{{etcd_ssl_key}}"
  etcdCACertFile:  "{{etcd_ssl_cacert}}"
