[Service]
# Add --live-restore so containers aren't killed during restart
Environment="DOCKER_OPTS=--tlsverify --tlscacert={{docker_ssl_cacert}} --tlscert={{docker_ssl_cert}} --tlskey={{docker_ssl_key}} --live-restore"
