{#                                                 -*-javascript-*- #}
{# https://docs.docker.com/engine/reference/commandline/dockerd/    #}
{

{# TLS options #}
    "tls": true,
    "tlscacert": "{{docker_ssl_cacert}}",
    "tlscert": "{{docker_ssl_cert}}",
    "tlskey": "{{docker_ssl_key}}",
    "tlsverify": true,

{# Multi-host overlay networking w/ etcd #}
    "cluster-store": "etcd://{{fqdn}}:2379",
    "cluster-advertise": "{{ip_addr}}:2375",
    "cluster-store-opts": {
	"kv.cacertfile": "{{etcd_ssl_cacert}}",
	"kv.certfile": "{{etcd_ssl_cert}}",
	"kv.keyfile": "{{etcd_ssl_key}}"
    },

{# Enable IPV6 support #}
    "ipv6": true,
    "fixed-cidr-v6": "fdea:7bee:e4bc:ae09::/64"
}
