[Service]

# Etcd cluster
Environment="FLANNELD_ETCD_ENDPOINTS={{etcd_endpoints}}"

# Set network config
ExecStartPre={{etcdctl_command}} \
    set /coreos.com/network/config \
    '{ "Network": "{{k8s_pod_network}}", \
       "Backend": {"Type": "vxlan"}}'
