# 30-certs.conf.j2:  flanneld.service dropin
#
# Configure TLS on initial member

[Service]

# Mount a non-standard directory containing SSL certs
Environment="RKT_RUN_ARGS=\
  --uuid-file-save=/var/lib/coreos/flannel-wrapper.uuid \
  --volume etcd-certs,kind=host,source={{etcd_cert_dir}},readOnly=true \
  --mount volume=etcd-certs,target={{etcd_cert_dir}}"

# Override settings in 20-clct-flannel.conf:
# - The endpoints of etcd flanneld should use
# - The tls files to use when communicating with etcd

ExecStart=
ExecStart=/usr/lib/coreos/flannel-wrapper $FLANNEL_OPTS \
  --etcd-endpoints="https://{{fqdn}}:2379" \
  --etcd-cafile="{{etcd_ssl_cacert}}" \
  --etcd-certfile="{{etcd_ssl_cert}}" \
  --etcd-keyfile="{{etcd_ssl_key}}"
