# /etc/hosts: Local Host Database                    -*-conf-*-

# IPv4 and IPv6 localhost aliases
127.0.0.1       localhost
::1             localhost

# CoreOS cluster hosts
{% for h in groups.coreos %}
{{hostvars[h].ip_addr}}  {{hostvars[h].fqdn}} {{h}}
{% endfor %}
