# This config is meant to be consumed by the config transpiler, which will
# generate the corresponding Ignition config. Do not pass this config directly
# to instances of Container Linux.

# Docs:
#    https://coreos.com/os/docs/latest/migrating-to-clcs.html
#    https://coreos.com/os/docs/latest/configuration.html
# `drop-ins`:
#   https://coreos.com/os/docs/latest/using-systemd-drop-in-units.html

etcd:
  # https://coreos.com/etcd/docs/latest/op-guide/runtime-configuration.html
  #
  # Member name
  name: {{hostname}}
  # URLs to listen on for peer and client traffic
  # Use SSL on external interfaces
  listen_client_urls: https://{PUBLIC_IPV4}:2379
  listen_peer_urls: https://{PUBLIC_IPV4}:2380
  #
  # List of member client URLs to advertise to the rest of the
  # cluster
  advertise_client_urls: https://{{fqdn}}:2379
  #
  # Initial flags for bootstrapping new member (not used in
  # restarts)
  # Slaves use DNS srv records to join existing cluster
  discovery_srv: {{domain_name}}
  initial_cluster_state: new
  initial_advertise_peer_urls: https://{{fqdn}}:2380
  initial_cluster_token: cluster_{{etcd_cluster_token}}
  #
  # Exit (do not proxy) when discovery fails
  discovery_fallback: exit
  #
  # SSL cert file locations for client and peer servers; enable
  # cert-based authentication for slaves; master is converted later
  cert_file: {{etcd_ssl_cert}}
  key_file: {{etcd_ssl_key}}
  trusted_ca_file: {{etcd_ssl_cacert}}
  client_cert_auth: true
  peer_cert_file: {{etcd_ssl_cert}}
  peer_key_file: {{etcd_ssl_key}}
  peer_trusted_ca_file: {{etcd_ssl_cacert}}
  peer_client_cert_auth: true
  #
  # Reject reconfiguration requests that would cause quorum loss
  strict_reconfig_check: true
  #
  # Tune raft elections
  # https://coreos.com/etcd/docs/latest/tuning.html#time-parameters
  heartbeat_interval: 300
  election_timeout: 3000
  #
  # Drop the default log level to DEBUG for all subpackages
  #debug: 1
  #
  # Set individual etcd subpackages to specific log levels
  #log_package_levels: etcdserver=WARNING,security=DEBUG

flannel:
  # The version of flannel to be run
  #version: 0.7.1
  # The tls files to use when communicating with etcd
  etcd_cafile:    {{etcd_ssl_cacert}}
  etcd_certfile:  {{etcd_ssl_cert}}
  etcd_keyfile:   {{etcd_ssl_key}}
  # The interface to use
  iface:          {PUBLIC_IPV4}

docker:
  # Additional flags to pass to the docker daemon when it is started
  flags:
    - "--live-restore"
    - "--bip={{k8s_pod_network}}"

locksmith:
  # The reboot strategy for locksmithd to follow.  Must be one of:
  # reboot, etcd-lock, off.
  reboot_strategy: "etcd-lock"
  # The endpoints of etcd locksmith should use
  etcd_endpoints: "{{etcd_endpoints}}"
  # The tls files to use when communicating with etcd
  etcd_cafile: {{etcd_ssl_cacert}}
  etcd_certfile: {{etcd_ssl_cert}}
  etcd_keyfile: {{etcd_ssl_key}}
  # The start of the window that locksmithd can reboot the machine during
  #window_start: "Sun 1:00"
  # The duration of the window that locksmithd can reboot the machine during
  #window_length: "2h"
  # The locksmith etcd group to be part of for reboot control
  #group: webhosts

update:
  # The update group to follow. Most users will want one of: stable,
  # beta, alpha.
  group:  "{{coreos_update_group}}"
  # The server to fetch updates from.
  server: "https://public.update.core-os.net/v1/update/"

systemd:
  units:
    #######################################
    # cluster daemons
    #
    # Disable these on replicas so that Docker can run immediately
    - name: etcd-member.service
      mask: true
      dropins:
        - name: 10-etcd-certs.conf
          contents: |
            [Service]
            #
            # Mount a non-standard directory containing SSL certs
            Environment="RKT_RUN_ARGS=\
              --uuid-file-save=/var/lib/coreos/etcd-member-wrapper.uuid \
              --volume etcd-certs,kind=host,source={{etcd_cert_dir}},readOnly=true \
              --mount volume=etcd-certs,target={{etcd_cert_dir}}"
            #
            # Ensure SSL cert is readable by etcd
            ExecStartPre=/usr/bin/chown etcd {{etcd_ssl_cert}} {{etcd_ssl_key}}

    - name: flanneld.service
      mask: true
      dropins:
        - name: 10-flanneld-certs.conf
          contents: |
            [Service]
            #
            # Mount a non-standard directory containing SSL certs
            Environment="RKT_RUN_ARGS=\
              --uuid-file-save=/var/lib/coreos/flannel-wrapper.uuid \
              --volume etcd-certs,kind=host,source={{etcd_cert_dir}},readOnly=true \
              --mount volume=etcd-certs,target={{etcd_cert_dir}}"

    - name: flannel-docker-opts.service
      mask: true
      dropins:
        - name: 30-env-file-link.conf
          contents: |
            [Service]
            #
            # Set EnvironmentFile symlink
            # - Docker CNI options
            ExecStartPre=/usr/bin/ln -sf \
                /etc/flannel_docker_opts.env \
                /run/flannel/flannel_docker_opts.env


    #######################################
    # disk
    #
    # This requires a DO volume with two partitions, swap and ext4
    # filesystem

    - name: {{swap_device_systemd_unit}}
      contents: |
        [Swap]
        What={{swap_device}}

        [Install]
        WantedBy=multi-user.target

    - name: {{data_volume_systemd_unit}}
      contents: |
        [Mount]
        What={{data_volume_device}}
        Where={{data_volume_path}}
        Type=ext4

        [Install]
        WantedBy=multi-user.target

    #######################################
    # Other system units
    #
    - name: ntpd.service
      enable: true

passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{ ssh_pub_key }}

storage:
  files:
    - filesystem: "root"
      path:       "/etc/hostname"
      mode:       0644
      contents:
        inline: {{fqdn}}

    - filesystem: "root"
      path:       /etc/flannel_docker_opts.env
      mode:       0644
      contents:
        inline: |
          DOCKER_OPT_BIP=""
          DOCKER_OPT_IPMASQ=""

    - filesystem: "root"
      path: /home/core/.toolboxrc
      # https://coreos.com/os/docs/latest/install-debugging-tools.html
      contents:
        inline: |
          TOOLBOX_DOCKER_IMAGE={{toolbox_image_base}}
          TOOLBOX_DOCKER_TAG={{toolbox_image_tag}}
          TOOLBOX_USER=root
      mode: 0644
      user:
        id: 500
      group:
        id: 500

    - filesystem: "root"
      path: /home/core/.docker/config.json
      # Allow default detachKeys to be overridden
      contents:
        inline: |
          {
          "detachKeys": "{{docker_detach_keys|default('ctrl-p,ctrl-q')}}"
          }
      mode: 0644
      user:
        id: 500
      group:
        id: 500
