# CL args:
# https://kubernetes.io/docs/admin/kube-proxy/
# Absent from https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/high-availability/
apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
    - name: kube-proxy
      # Alternative:
      # https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/kube-proxy
      image: quay.io/coreos/hyperkube:v{{k8s_version}}
      command:
        - /hyperkube
        - proxy
        - --master={{k8s_apiserver_url}}
        - --kubeconfig={{k8s_dir}}/kubeconfig.yaml
      securityContext:
        privileged: true
      volumeMounts:
        - mountPath: {{k8s_dir}}
          name: k8s
          readOnly: true
  volumes:
    - name: k8s
      hostPath:
        path: {{k8s_dir}}
