apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: {{k8s_ssl_cacert}}
    server: {{k8s_apiserver_url}}
users:
- name: kubelet
  user:
    client-certificate: {{k8s_ssl_cert}}
    client-key: {{k8s_ssl_key}}
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-context
current-context: kubelet-context
