[Service]
Environment=KUBELET_IMAGE_TAG=v{{k8s_version}}
EnvironmentFile=/etc/kubernetes/kubelet.env
ExecStartPre=/usr/bin/mkdir -p {{k8s_manifest_dir}}
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/kubelet-pod.uuid
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --api-servers={{k8s_apiserver_url}} \
  --register-schedulable=false \
  --cni-conf-dir=/etc/kubernetes/cni/net.d \
  --network-plugin=${NETWORK_PLUGIN} \
  --container-runtime=docker \
  --allow-privileged=true \
  --pod-manifest-path={{k8s_manifest_dir}} \
  --hostname-override={{ip_addr}} \
  --cluster_dns={{k8s_dns_service_ip}} \
  --cluster_domain={{etcd_cluster_token}}.{{domain_name}}
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/run/kubelet-pod.uuid
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
