RKT_RUN_ARGS= \
  --uuid-file-save=/var/run/kubelet-pod.uuid \
  \
  --volume var-log,kind=host,source=/var/log \
  --volume dns,kind=host,source=/etc/resolv.conf,readOnly=true \
  --volume hosts,kind=host,source=/etc/hosts,readOnly=true \
  --volume etcd-certs,kind=host,source={{etcd_ssl_dir}},readOnly=true \
{% if k8s_use_calico %}
  --volume cni-bin,kind=host,source=/opt/cni/bin \
{%- endif %}
  --volume k8s,kind=host,source={{k8s_dir}},readOnly=true \
  --volume k8s-manifest,kind=host,source={{k8s_manifest_dir}} \
  \
  --mount volume=var-log,target=/var/log \
  --mount volume=dns,target=/etc/resolv.conf \
  --mount volume=hosts,target=/etc/hosts \
  --mount volume=etcd-certs,target={{etcd_ssl_dir}} \
{% if k8s_use_calico %}
  --mount volume=cni-bin,target={{k8s_cni_dir}}/bin \
{%- endif %}
  --mount volume=k8s,target={{k8s_dir}} \
  --mount volume=k8s-manifest,target={{k8s_manifest_dir}}
