apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
    - name: kube-apiserver
      image: quay.io/coreos/hyperkube:v{{k8s_version}}
      command:
        - /hyperkube
        - apiserver
        - --bind-address=0.0.0.0
        - --etcd-servers={{etcd_endpoints}}
        - --allow-privileged=true
        - --service-cluster-ip-range={{k8s_service_ip_range}}
        - --secure-port={{k8s_apiserver_secure_port}}
        - --advertise-address={{ip_addr}}
        - --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota
        - --tls-cert-file={{k8s_ssl_cert}}
        - --tls-private-key-file={{k8s_ssl_key}}
        - --client-ca-file={{k8s_ssl_cacert}}
        - --service-account-key-file={{k8s_ssl_key}}
        - --runtime-config=extensions/v1beta1/networkpolicies=true
        - --anonymous-auth=false
        - --storage-backend=etcd3
        - --etcd-cafile={{etcd_ssl_cacert}}
        - --etcd-certfile={{etcd_ssl_cert}}
        - --etcd-keyfile={{etcd_ssl_key}}
        - --insecure-bind-address=127.0.0.1
        - --insecure-port={{k8s_apiserver_insecure_port}}
      livenessProbe:
        httpGet:
          host: 127.0.0.1
          port: {{k8s_apiserver_insecure_port}}
          path: /healthz
        initialDelaySeconds: 15
        timeoutSeconds: 15
      ports:
        - containerPort: {{k8s_apiserver_secure_port}}
          hostPort: {{k8s_apiserver_secure_port}}
          name: https
        - containerPort: {{k8s_apiserver_insecure_port}}
          hostPort: {{k8s_apiserver_insecure_port}}
          name: local
      volumeMounts:
        - mountPath: {{k8s_ssl_dir}}
          name: ssl-certs-kubernetes
          readOnly: true
        - mountPath: {{etcd_cert_dir}}
          name: ssl-certs-etcd
          readOnly: true
        - mountPath: /etc/ssl/certs
          name: ssl-certs-host
          readOnly: true
  volumes:
    - hostPath:
        path: {{k8s_ssl_dir}}
      name: ssl-certs-kubernetes
    - hostPath:
        path: {{etcd_cert_dir}}
      name: ssl-certs-etcd
    - hostPath:
        path: /usr/share/ca-certificates
      name: ssl-certs-host
