# https://www.freedesktop.org/software/systemd/man/resolved.conf.html

[Resolve]
DNS={{ dns_servers }}
Domains={{domain_name}}
Cache=no
#FallbackDNS=
#LLMNR=yes
#DNSSEC=allow-downgrade
#DNSStubListener=udp
