# https://coreos.com/etcd/docs/latest/op-guide/runtime-configuration.html
[Service]
#
# URLs to listen on for peer and client traffic; use SSL on
# external interfaces
Environment="ETCD_LISTEN_CLIENT_URLS=https://{{ip_addr}}:2379"
Environment="ETCD_LISTEN_PEER_URLS=https://{{ip_addr}}:2380"
#
# List of member client URLs to advertise to the rest of the
# cluster
Environment="ETCD_ADVERTISE_CLIENT_URLS=https://{{fqdn}}:2379"
#
# Initial flags for bootstrapping new member (not used in
# restarts); use either DNS srv records or manually
# specify the initial cluster members
Environment="ETCD_DISCOVERY_SRV={{domain_name}}"
#Environment="ETCD_INITIAL_CLUSTER={{initial_cluster}}"
Environment="ETCD_INITIAL_CLUSTER_STATE={{initial_cluster_state}}"
Environment="ETCD_INITIAL_CLUSTER_TOKEN=cluster_{{etcd_cluster_token}}"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{fqdn}}:2380"
#
# Exit (do not proxy) when discovery fails
Environment="ETCD_DISCOVERY_FALLBACK=exit"
#
# SSL cert file locations for client and peer servers; enable
# cert-based authentication
Environment="ETCD_CERT_FILE={{etcd_ssl_cert}}"
Environment="ETCD_KEY_FILE={{etcd_ssl_key}}"
Environment="ETCD_CLIENT_CERT_AUTH=true"
Environment="ETCD_TRUSTED_CA_FILE={{etcd_ssl_cacert}}"
Environment="ETCD_PEER_CERT_FILE={{etcd_ssl_cert}}"
Environment="ETCD_PEER_KEY_FILE={{etcd_ssl_key}}"
Environment="ETCD_PEER_CLIENT_CERT_AUTH=true"
Environment="ETCD_PEER_TRUSTED_CA_FILE={{etcd_ssl_cacert}}"
#
# Reject reconfiguration requests that would cause quorum loss
Environment="ETCD_STRICT_RECONFIG_CHECK=true"
#
# Tune raft elections
# https://coreos.com/etcd/docs/latest/tuning.html#time-parameters
Environment="ETCD_HEARTBEAT_INTERVAL=300"
Environment="ETCD_ELECTION_TIMEOUT=3000"
#
# Drop the default log level to DEBUG for all subpackages
#Environment="ETCD_DEBUG=1"
#
# Set individual etcd subpackages to specific log levels
#Environment="ETCD_LOG_PACKAGE_LEVELS=etcdserver=WARNING,security=DEBUG"
