[Service]
# Mount a non-standard directory containing SSL certs
Environment="RKT_RUN_ARGS=--uuid-file-save=/var/lib/coreos/etcd-member-wrapper.uuid --volume etcd-certs,kind=host,source={{etcd_cert_dir}},readOnly=true --mount volume=etcd-certs,target={{etcd_cert_dir}}"
