# 30-certs.conf:  etcd-member dropin file

# The cluster initial member is initially bootstrapped without TLS
# enabled so that flanneld can be started and Docker networking set up
# before the first containers are created.
#
# This dropin patches the initial member to add TLS.

[Service]
# SSL cert file locations for client and peer servers
Environment="ETCD_CERT_FILE={{etcd_ssl_cert}}"
Environment="ETCD_KEY_FILE={{etcd_ssl_key}}"
Environment="ETCD_TRUSTED_CA_FILE={{etcd_ssl_cacert}}"
Environment="ETCD_CLIENT_CERT_AUTH=true"
Environment="ETCD_PEER_CERT_FILE={{etcd_ssl_cert}}"
Environment="ETCD_PEER_KEY_FILE={{etcd_ssl_key}}"
Environment="ETCD_PEER_TRUSTED_CA_FILE={{etcd_ssl_cacert}}"
Environment="ETCD_PEER_CLIENT_CERT_AUTH=true"

# Mount a non-standard directory containing SSL certs
Environment="RKT_RUN_ARGS=\
  --uuid-file-save=/var/lib/coreos/etcd-member-wrapper.uuid \
  --volume etcd-certs,kind=host,source={{etcd_cert_dir}},readOnly=true \
  --mount volume=etcd-certs,target={{etcd_cert_dir}}"

# Redefine ExecStart to override 20-clct-etcd-member.conf dropin
#
# Redefine:
# - URLs to listen on for peer and client traffic
# - List of member client URLs to advertise to the rest of the cluster
# - Omit initial cluster flags, no longer needed

ExecStart=
ExecStart=/usr/lib/coreos/etcd-wrapper $ETCD_OPTS \
  --name="h01" \
  --heartbeat-interval=300 \
  --election-timeout=3000 \
  --listen-peer-urls="https://{{ip_addr}}:2380" \
  --listen-client-urls="https://{{ip_addr}}:2379,http://127.0.0.1:2379" \
  --advertise-client-urls="https://{{fqdn}}:2379" \
  --discovery-fallback="exit" \
  --strict-reconfig-check=true
