# https://www.freedesktop.org/software/systemd/man/resolved.conf.html

[Resolve]
# FIXME this must be updated later with all cluster DNS server IPs
DNS={{freeipa_network_addr}}
Domains={{domain_name}}
Cache=no
#FallbackDNS=
#LLMNR=yes
#DNSSEC=allow-downgrade
#DNSStubListener=udp
