[Unit]
Description=HAProxy service

# Requirements
Requires=etcd2.service
Requires=docker.service

# Dependency ordering
After=etcd2.service
After=docker.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

Environment=HAPROXY_CONFIG=/usr/local/etc/haproxy/haproxy.cfg
Environment=HAPROXY_DATA=/media/state/haproxy-data

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill haproxy
ExecStartPre=-/usr/bin/docker rm haproxy
ExecStart=/usr/bin/docker run --rm \
        --hostname %H \
        --name haproxy \
        --volume $HAPROXY_DATA:/data \
        --volume $HAPROXY_DATA/haproxy.cfg:$HAPROXY_CONFIG:ro \
        --net cnet --ip 10.26.%i.3 \
        haproxy

# Stop
ExecStop=/usr/bin/docker stop haproxy

[X-Fleet]
MachineMetadata=host_id=%i
