[Unit]
Description=FreeIPA service

# Requirements
Requires=etcd2.service
Requires=docker.service

# Dependency ordering
After=etcd2.service
After=docker.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment
EnvironmentFile=/media/state/system.env

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill ipa
ExecStartPre=-/usr/bin/docker rm ipa
ExecStart=/usr/bin/docker run --rm \
        --hostname ${HOST_NAME} \
        --name ipa \
        --volume /media/state/ipa-data:/data \
        --volume /sys/fs/cgroup:/sys/fs/cgroup:ro \
	--net cnet --ip ${SERVER_IP_ipa} \
        -e IPA_SERVER_IP=${COREOS_PUBLIC_IPV4} \
        adelton/freeipa-server:centos-7
# Wait for DNS to come online; this takes a minute normally, or about
# 10 minutes when bootstrapping on a 1GB DigitalOcean host
ExecStartPost=/usr/bin/dig +noall +norecurse +comments +time=1 +tries=1200 \
			   @${IPA_IP} ${DOMAIN_NAME}
# Stop
ExecStop=/usr/bin/docker stop ipa

[X-Fleet]
MachineMetadata=host_id=%i
