{# ---------------------------------------------------------------------#}
{# Options to `ipa-server-install`; place in {{freeipa_volume_path}}    #}
{# ---------------------------------------------------------------------#}

--unattended
{# Directory manager and admin user passwords #}
--ds-password={{freeipa_ds_password}}
--admin-password={{freeipa_admin_password}}
{# Config basic facts #}
--hostname={{fqdn}}
--realm={{kerberos_realm}}
--domain={{domain_name}}
{# Other options #}
--no-ntp  {# done on host #}
--setup-dns
--no-forwarders
{# Without this option, install will fail if domain already resolvable #}
--allow-zone-overlap

{#
Usage: ipa-server-install [options]

Options:
  --version             show program's version number and exit
  -h, --help            show this help message and exit
  -U, --unattended      unattended (un)installation never prompts the user

  basic options:
    --setup-dns         configure bind with our zone
    -r REALM_NAME, --realm=REALM_NAME
                        realm name
    -n DOMAIN_NAME, --domain=DOMAIN_NAME
                        domain name
    -p DM_PASSWORD, --ds-password=DM_PASSWORD
                        Directory Manager password
    -a ADMIN_PASSWORD, --admin-password=ADMIN_PASSWORD
                        admin user kerberos password
    --mkhomedir         create home directories for users on their first login
    --hostname=HOST_NAME
                        fully qualified name of this host
    --ip-address=IP_ADDRESS
                        Master Server IP Address. This option can be used
                        multiple times
    --no-host-dns       Do not use DNS for hostname lookup during installation
    -N, --no-ntp        do not configure ntp
    --idstart=IDSTART   The starting value for the IDs range (default random)
    --idmax=IDMAX       The max value for the IDs range (default:
                        idstart+199999)
    --no_hbac_allow     Don't install allow_all HBAC rule
    --ignore-topology-disconnect
                        do not check whether server uninstall disconnects the
                        topology (domain level 1+)
    --ignore-last-of-role
                        do not check whether server uninstall removes last
                        CA/DNS server or DNSSec master (domain level 1+)
    --no-ui-redirect    Do not automatically redirect to the Web UI
    --ssh-trust-dns     configure OpenSSH client to trust DNS SSHFP records
    --no-ssh            do not configure OpenSSH client
    --no-sshd           do not configure OpenSSH server
    --no-dns-sshfp      Do not automatically create DNS SSHFP records
    --dirsrv-config-file=FILE
                        The path to LDIF file that will be used to modify
                        configuration of dse.ldif during installation of the
                        directory server instance

  certificate system options:
    --external-ca       Generate a CSR for the IPA CA certificate to be signed
                        by an external CA
    --external-ca-type=EXTERNAL_CA_TYPE
                        Type of the external CA
    --external-cert-file=FILE
                        File containing the IPA CA certificate and the
                        external CA certificate chain
    --dirsrv-cert-file=FILE
                        File containing the Directory Server SSL certificate
                        and private key
    --http-cert-file=FILE
                        File containing the Apache Server SSL certificate and
                        private key
    --dirsrv-pin=PIN    The password to unlock the Directory Server private
                        key
    --http-pin=PIN      The password to unlock the Apache Server private key
    --dirsrv-cert-name=NAME
                        Name of the Directory Server SSL certificate to
                        install
    --http-cert-name=NAME
                        Name of the Apache Server SSL certificate to install
    --ca-cert-file=FILE
                        File containing CA certificates for the service
                        certificate files
    --subject=SUBJECT   The certificate subject base (default O=<realm-name>)
    --ca-signing-algorithm=CA_SIGNING_ALGORITHM
                        Signing algorithm of the IPA CA certificate

  DNS options:
    --forwarder=FORWARDERS
                        Add a DNS forwarder. This option can be used multiple
                        times
    --forward-policy=FORWARD_POLICY
                        DNS forwarding policy for global forwarders
    --auto-forwarders   Use DNS forwarders configured in /etc/resolv.conf
    --no-forwarders     Do not add any DNS forwarders, use root servers
                        instead
    --allow-zone-overlap
                        Create DNS zone even if it already exists
    --reverse-zone=REVERSE_ZONE
                        The reverse DNS zone to use. This option can be used
                        multiple times
    --no-reverse        Do not create new reverse DNS zone
    --auto-reverse      Create necessary reverse zones
    --no-dnssec-validation
                        Disable DNSSEC validation
    --zonemgr=ZONEMGR   DNS zone manager e-mail address. Defaults to
                        hostmaster@DOMAIN

  Logging and output options:
    -v, --verbose       print debugging information
    -d, --debug         alias for --verbose (deprecated)
    -q, --quiet         output only errors
    --log-file=FILE     log to the given file

  uninstall options:
    --uninstall         uninstall an existing installation. The uninstall can
                        be run with --unattended option
#}
